.current-weather {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: aliceblue;
    border: 2px solid darkslateblue;
    border-radius: 1rem;
    padding: 1rem 0;

    .header {
        .datestring {
            font-size: 1.6rem;
        }

        .location {
            font-size: 2.1rem;
        }
    }

    .main {
        margin: 2.4rem 0;

        .feature {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;

            .temp {
                display: flex;
        
                &__value {
                    font-family: 'Merriweather', serif;
                    font-size: 6.2rem;
                }
        
                &__unit {
                    font-size: 2.8rem;
                    margin-top: 1.4rem;
                }
            }
        }

        .description {
            font-size: 1.8rem;
            font-weight: bold;
            text-align: center;
        }
    }

    .minor {
        font-size: 1.6rem;
        margin-bottom: 2rem;

        .feature {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }

    .sun {
        font-size: 1.4rem;
        margin-bottom: 1rem;
                
        &__rise, &__set {
            display: flex;
            align-items: center;
        }
    }
}