.current-weather {
    margin: 1rem;
    display: flex;
    flex-direction: column;

    .main {
        margin: 2rem 0;
        .feature {
            display: flex;
            justify-content: flex-start
        }
    }

    .feature {
        display: flex;
        align-items: center;
    }

    &__temp {
        display: flex;

        &__value {
            font-size: 4rem;
        }

        &__unit {
            font-size: 1.6rem;
            margin-top: .4rem;
        }
    }

    &__icon {
        margin-left: 2rem;
    }

    &__description {
        font-size: 1.8rem;
        font-weight: bold;
    }

    .sun {
                
        &__rise, &__set {
            display: flex;
            align-items: center;
        }
    }
}