.hourly-preview,
.daily-preview {
    margin: 1rem;

    .heading {
        margin-left: 2rem;
        font-size: 1.4rem;
    }

    .list {
        display: flex;
        overflow-x: scroll;
        padding-bottom: 0.75rem;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 1rem;
            padding: 1rem;
            min-width: 12rem;
            gap: 0.3rem;

            background-color: aliceblue;
            border: 1px solid darkslateblue;
            border-radius: 0.5rem;

            .temperature {
                display: flex;
                align-items: start;

                &__value {
                    font-size: 2.4rem;
                    font-weight: bold;
                }

                &__unit {
                    font-size: 1.4rem;
                    margin-top: 0.5rem;
                }
            }

            .description {
                font-weight: bold;
                font-size: 1.2rem;
                width: 100%;
                text-align: center;
            }

            .pop {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
            }
        }
    }
}

.daily-preview {
    .list {
        background-color: rgba(lightblue, 0.1);
        
        .item > * {
            margin: 0.4rem 0;
        }

        .item {
            .date {
                font-size: 1.2rem;
                display: block;
                text-align: center;
            }

            .temp {
                display: flex;

                &__max,
                &__min {
                    font-size: 2.4rem;
                }

                &__apparent-max,
                &__apparent-min {
                    display: flex;
                    align-items: center;
                    font-size: 1.4rem;
                }
            }

            .feature {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

.hourly-preview {
    .list {
        background-color: rgba(lightblue, 0.1);
        //border: 1px solid slateblue;

        .item {
            background-color: aliceblue;

            .date {
                display: flex;
                justify-content: space-between;
                width: 100%;

                .hour {
                    &__value {
                        font-size: 1.4rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.hourly-carousel,
.daily-carousel {
    display: flex;

    .button-navigation {
        padding: 0 1rem;
        cursor: pointer;
    }
}
