.geocoding-results, .saved-locations {
    max-height: 30rem;
    width: 30rem;
    overflow-y: scroll;
    border: 0.1rem solid lightgray;

    .list {
        list-style: none;
        
        .item {
            cursor: pointer;
            margin: 1rem;
            padding-bottom: 1rem;
            
            &:not(:last-child) {
                border-bottom: .1rem solid lightgray;
            }
        }
    }
}
