//.plot {}

.bar-plot {
    height: 25rem;
    margin: 0 2rem;
}

.button-plot {
    padding: .5rem 1rem;
    border: 1px solid;
    border-radius: .4rem;
    margin-left: .4rem;

    &--active {
        background-color: azure;
    }
}